#logo-nav{
  width:300px;
  margin-left: 20px;
  vertical-align: middle;
}

.font-title{
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 50px;
  margin: 15px 0px 15px 0px;
}

#footer-style{
  bottom: 0;
  position: fixed;
  width: 100%;

}

.columa{
  height: 100vh;
  overflow: scroll;
}
